[project]
	description = stockMarket
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gMcCaffrey
[access "refs/for/refs/*"]
	read = group user/gMcCaffrey
	push = group user/gMcCaffrey
	label-Code-Review = -2..+2 group user/gMcCaffrey
	label-Verified = -1..+1 group user/gMcCaffrey
	rebase = group user/gMcCaffrey
	removeReviewer = group user/gMcCaffrey
	submit = group user/gMcCaffrey
[access "refs/heads/*"]
	read = group user/gMcCaffrey
	create = group user/gMcCaffrey
	push = +force group user/gMcCaffrey
	pushMerge = group user/gMcCaffrey
[access "refs/tags/*"]
	push = +force group user/gMcCaffrey
	pushTag = group user/gMcCaffrey
	pushSignedTag = group user/gMcCaffrey
